<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <context-param>
        <param-name>size</param-name>
        <param-value>10</param-value>
    </context-param>
    <context-param>
        <param-name>color</param-name>
        <param-value>green</param-value>
    </context-param>

    <servlet>
        <servlet-name>ServletContextTest</servlet-name>
        <servlet-class>com.javaweb.servlet.ServletContextTest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletContextTest</servlet-name>
        <url-pattern>/context</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>servletA</servlet-name>
        <servlet-class>com.javaweb.servlet.ServletA</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletA</servlet-name>
        <url-pattern>/a</url-pattern>
    </servlet-mapping>
</web-app>